* {
    font-family: Poppins, OpenSans, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* landing page */
.main-button {
    width: 200px;
    padding: 12px 20px;
    background-color: #F5D700 !important;
    text-transform: uppercase !important;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid #333333;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.main-button:hover {
    background-color: black !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.secondary-button {
    text-transform: uppercase !important;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    color: black !important;
}
.secondary-button:hover {
    color: #F5D700 !important;
    font-size: 20px;
    transform: translateY(-3px);
}

/* navigation bar */

.nav-item.active {
    border-bottom: 4px solid #ffd700;
    font-weight: 700;
    font-style: italic;
}
#logo-container img {
    max-width: 70px;
    width: 100%;
}

.signOut {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
}
.logout-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 0.80rem;
}
.logout-button:hover {
    font-weight: 700;
    text-transform: uppercase;
}


/* dashboard content */

#dashboard-content {
    padding: 10px 30px;
}

.hero-greeting, .totalAppCard, .pieChart, .monthlyApp-card, .responseRate-card, .progress-card {
    background-color: #F5D700;
}

.hero-greeting {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    height: 100px;
    margin: 10px 0 0 0;
    justify-content: space-between;
}
.hero-greeting .text-holder {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 20px;
    margin: 0 20px;
}
.text-holder .date{
    background-color: black;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    padding: 6px 6px;
    display: inline-block;
    top: 10px;
    right: 0;
    position: absolute;
}
.text-holder .title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 0;
}
.text-holder .subtitle {
    position: absolute;
    font-size: 17px;
    top: 50px;
    left: 0;
}
.totalAppCard {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    max-height: 180px;
}
.specialIcon {
    position: absolute;
    bottom: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 22px;
}
.pieChart {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 265px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px 0;
}
.statsCard .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px 0;
}
.statsCard .data p {
    font-size: 0.70rem;
}
.stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}
.statsCard {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    background-color: #F7E7CE;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    width: 100%;
    padding: 10px;
    max-height: 180px;
}
.statsIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
}
.statsCard h6 {
    font-weight: 700;
    text-align: start;
}
.stats-text {
    font-size: 0.70rem;
    text-align: justify;
}
.statsCard .card-text {
    font-size: 2rem;
    font-weight: bold;
}
.monthlyApp-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7E7CE;
    padding: 20px;
    height: 100%;
    max-height: 315px;
    margin-bottom: 10px;
}
.chart-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.responseRate-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    min-height: 230px;
}
.progress-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    height: 215px;
}
.progress-data {
    z-index: 1;
}
.progress-data p {
    font-size: 10px;
    margin: 0;
}
.circle {
    position: relative;
    width: 80px;
    height: 80px;
    background: conic-gradient(
        from 0deg,
        var(--clr, #ffffff) 0% calc(var(--progress) * 1%),
        #fff calc(var(--progress) * 1%) 100%
    );
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    flex-shrink: 0;
    flex-grow: 0;
}
.circle::before {
    content: '';
    position: absolute;
    inset: 10px;
    background: #25252b;
    border-radius: 50%;
}
.subtext {
    font-size: 0.85rem;
    text-align: justify;
    padding: 5px;
    margin: 4px 0;
}
.statsCard:hover, .pieChart:hover, .progress-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}


/* applications */
#applications-section {
    padding: 10px;
}
.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    background-color: #F7E7CE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search-container i {
    position: absolute;
    right: 10px;
}
.search-container input[type="text"] {
    width: 100%;
    padding-right: 30px;
    border: none;
    font-size: 1rem;
    background: transparent;
}
input[type="text"]:focus {
    outline: none;
}
.applicationsEmptyBar {
    color: #ffffff;
    text-align: center;
}
.status-badge {
    display: inline-block;
    padding: 0.25em 0.75em;
    font-size: 0.875em;
    font-weight: bold;
    text-align: center;
    border-radius: 0.5em;
    color: #fff;
}
.status-badge.applied {
    background-color: #007bff;
}
.status-badge.interviewing {
    background-color: #ffc107;
}

.status-badge.rejected {
    background-color: #dc3545;
}
.status-badge.offer-received {
    background-color: #28a745;
}

/* settings */
.settings {
    display: flex;
    flex-direction: column;
    background-color: #faffff;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}
.settings .sidebar {
    border-right: 1px solid black;
    padding: 20px;
    width: 20%;
}
.settings .sidebar ul {
    list-style: none;
    padding: 0;
}
.settings .sidebar ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    border-radius: 4px;
}
.sidebar ul li a.active {
    background: #F5D700;
    color: #333;
}
.profile-header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.profile-header img {
    max-width: 75px;
    width: 100%;
}
.profile-header a {
    width: 180px;
    height: 40px;
    background-color: #FAF3E0;
}
.imgText-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.imgText-container div:first-child {
    margin: 0;
    padding: 0;
}
.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.secondaryText {
    font-size: 0.90rem;
    margin: 0;
    padding: 0;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
    float: inline-end;
}
