<header class="d-flex flex-row justify-content-between">
    <div class="logo ms-4">
        {% load static %}
        <a href="{% url 'landing_page' %}">
            <img src="{% static 'images/logo.png' %}" alt="logo" style="width: 180px">
        </a>
    </div>
    <nav class="navbar navbar-expand-lg justify-content-between primary-color p-4">
        <div class="navbar-nav fw-bold d-flex">
            <li class="nav-item mx-3">
                <a class="secondary-accent {% if request.path == '/signup/' or request.path == '/signup' %}active{% endif %}" href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li class="nav-item mx-3">
                <a class="secondary-accent {% if request.path == '/login/' or request.path == '/accounts/login/' %}active{% endif %}" href="{% url 'login' %}">Login</a>
            </li>
        </div>
    </nav>    
</header>
