<div class="wrapper">
    <div class="mx-2">
        <p class="dashboard-title">Hello, {{ user.first_name }}!</p>
        <p>See your recent progress and updates.</p>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="mx-2">
            <a class="btn searchButton fw-bold d-flex justify-content-center align-items-center" role="button" href="{% url 'dashboard' %}">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </div>
        <div>
            <a class="btn customButton fw-bold d-flex align-items-center" role="button" href="{% url 'dashboard' %}">
                <i class="fa-solid fa-plus me-2"></i><span>Add New Application</span>
            </a>
        </div>
    </div>
</div>
