{% extends 'base.html' %}
{% load tz %}
{% block title %}Account Dashboard - Jobify{% endblock %}
{% block content %}
<div class="container-fluid">
    {% include 'includes/navbar.html' %}
    <div id="dashboard-content">
        <div class="hero-greeting">
            {% load static %}
            <div class="text-holder">
                <p class="date">{% now "d F Y, l" %}</p>
                <p class="title">Good day, {{user.first_name}}!</p>
                <p class="subtitle">Opportunities don’t just happen—you create them. Stay determined, stay consistent, and track your way to success.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-12 mb-4">
                <div class="totalAppCard">
                    <h4 class="fw-bold mb-0">Total<br>Applications</h4>
                    <i class="statsIcon fa-solid fa-briefcase fa-md"></i>
                    {% if total_applications == 0 %}
                        <div>
                            <p class="m-4 ms-0 me-0" style="font-size: 0.80rem; text-align: justify">Ready to start? Add your first application and let’s track your job journey!</p>
                        </div>
                    {% else %}
                        <div class="data">
                            <h5 class="fw-bold">{{ total_applications }}</h5>
                            <p class="text-center">Applications You've Submitted So Far</p>
                        </div>
                    {% endif %}
                    <i class="specialIcon fa-solid fa-circle-plus" data-toggle="addNewApplication_tooltip" title="Add New Application" data-bs-toggle="modal" data-bs-target="#addApplicationModal"></i>
                </div>
                <div class="pieChart">
                    <h5 class="fw-bold mb-0">Application Status Breakdown</h5>
                    {% if no_data %}
                        <div id="noDataMessage" class="applicationsEmptyBar">
                            <p class="m-2 me-0 ms-0" style="text-align: justify; font-size: 0.90rem; color: black">You haven't sent any job applications yet. <br>Start tracking your progress to see trends over time and stay motivated.</p>
                        </div>
                    {% else %}
                        <div class="chart-wrapper">
                            <canvas id="conversionPieChart" style="max-width: 250px; height: fit-content"></canvas>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 mb-4">
                <div class="stats-container">
                    <div class="statsCard p-2 shadow-lg">
                        <h6>Interviews<br>Scheduled</h6>
                        <i class="statsIcon fas fa-calendar-check"></i>
                        {% if total_interviews == 0 %}
                            <div>
                                <p class="stats-text">No interviews scheduled yet. Once you apply, track your interview invites here!</p>
                            </div>
                        {% else %}
                            <div class="data">
                                <h5 class="fw-bold">{{ total_interviews}}</h5>
                                <p class="text-center">Upcoming Interview/s Scheduled</p>
                            </div>     
                        {% endif %}
                    </div>
                    <div class="statsCard p-2 shadow-lg">
                        <h6>Active<br>Applications</h6>
                        <i class="statsIcon fas fa-spinner"></i>
                        {% if applications_in_progress == 0 %}
                            <div>
                                <p class="stats-text">You haven't started any applications yet. Once you do, you can track them here!</p>
                            </div>
                        {% else %}
                            <div class="data">
                                <h5 class="fw-bold">{{ applications_in_progress}}</h5>
                                <p class="text-center">Applications Currently in Progress</p>
                            </div>     
                        {% endif %}
                    </div>
                    <div class="statsCard p-2 shadow-lg">
                        <h6>Offers<br>Received</h6>
                        <i class="statsIcon fas fa-gift"></i>
                        {% if total_offers == 0 %}
                            <div>
                                <p class="stats-text">Offers will appear here when you receive them. Keep applying to increase your chances!</p>
                            </div>
                        {% else %}
                            <div class="data">
                                <h5 class="fw-bold">{{ total_offers }}</h5>
                                <p class="text-center">Job Offers You’ve Received</p>
                            </div>     
                        {% endif %}
                    </div>
                    <div class="statsCard p-2 shadow-lg">
                        <h6>Total<br>Rejections</h6>
                        <i class="statsIcon fas fa-times-circle"></i>
                        {% if total_rejections == 0 %}
                            <div>
                                <p class="stats-text">No rejections so far! Let’s keep up the momentum and focus on the wins.</p>
                            </div>
                        {% else %}
                            <div class="data">
                                <h5 class="fw-bold">{{ total_rejections }}</h5>
                                <p class="text-center">Applications That Didn’t Work Out</p>
                            </div>     
                        {% endif %}
                    </div>
                </div>

                <div class="monthlyApp-card mb-4 ">
                    <h4 class="fw-bold text-uppercase m-0">Job Applications Sent Over Time</h4>
                    <br>
                    {% if no_data %}
                        <div id="noDataMessage" class="applicationsEmptyBar">
                            <p class="m-0 text-black">You haven't sent any job applications yet. <br>Start tracking your progress to see trends over time and stay motivated.</p>
                        </div>
                    {% else %}
                        <div class="chart-wrapper">
                            <canvas id="applicationsBarChart" style="max-width: 600px"></canvas>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-12 mb-4">
                <div class="progress-card mt-2">
                    <h5 class="fw-bold mt-0">Weekly Target</h5>
                    <div class="circle" style="--progress: {{ progress_percentage }};">
                        <div class="progress-data d-flex align-items-center flex-row">
                            <h3 class="fw-bold mb-0" style="color: white">{{ progress_percentage }}%</h3>
                        </div>
                    </div>
                    <p class="mt-1 mb-0" style="font-size: 0.90rem">{{ target }} applications: Let's do this!</p>
                </div>
                <div class="responseRate-card mt-2">
                    <h5 class="fw-bold mt-0 text-center">Application Response Rate</h5>
                    {% if response_rate == 0 and total_applications == 0 %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 200px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                0%
                            </div>
                        </div>
                        <p class="subtext">You haven't applied to any jobs yet. Start applying to see your response rate!</p>
                    {% elif response_rate == 0 %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 200px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                0%
                            </div>
                        </div>
                        <p class="subtext">You have applied to jobs, but you haven't received any responses yet.</p>
                    {% else %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ response_rate }}%"  aria-valuenow="{{ response_rate }}" aria-valuemin="0" aria-valuemax="100">
                                {{ response_rate }}%
                            </div>
                        </div>
                        <p class="subtext">{{ response_received }} out of {{ total_applications }} applications have received a response.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/modals/add_applicationModal.html' %}
</div>

    <script>
        const labels = {{ labels|safe }};
        const totals = {{ totals|safe }};
        const ctx = document.getElementById('applicationsBarChart').getContext('2d');
        const applicationsBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Applications Sent',
                    data: totals,
                    background: 'linear-gradient(135deg, #1f2937, #374151);',
                    backgroundColor: '#F5D700',
                    borderWidth: 1,
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: true,
                        labels: {
                            font: {
                                size: 14,
                                family: 'Poppins',
                                weight: '500',
                            },
                            color: 'black',
                        },
                    },
                },
                scales: {
                    x: {
                        ticks: {
                            font: {
                                size: 14,
                                family: 'Poppins',
                                weight: '500',
                            },
                            color: 'black'
                        },
                        grid: {
                            display: true
                        }
                    },
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1,
                            font: {
                                size: 14,
                                family: 'Poppins',
                                weight: '500',
                            },
                            color: 'black'
                        },
                        grid: {
                            color: 'black',
                            borderColor: '#fff'
                        }
                    }
                }
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('conversionPieChart').getContext('2d');
            const chartData = {
                labels: ['Applied Applications', 'Interview Scheduled', 'Offer Received', 'Application Rejected'],
                datasets: [{
                    data: [
                        {{ applied_applications }},
                        {{ total_interviews }},
                        {{ total_offers }},
                        {{ total_rejections }}
                    ],
                    backgroundColor: ['teal', '#9333ea', '#28a745', '#dc3545'],
                    borderWidth: 2
                }]
            };

            const config = {
                type: 'pie',
                data: chartData,
                options: {
                    responsive: true,
                    aspectRatio: 1.15,
                    layout: {
                        padding: {
                            left: 10,
                            right: 10,
                            bottom: 10,
                        }
                    },
                    plugins: {
                        legend: {
                            display: true,
                            position: 'top',
                            align: 'start',
                            labels: {
                                boxWidth: 15,
                                padding: 10,
                                font: {
                                    size: 11,
                                    family: 'Poppins, sans-serif',
                                },
                                color: 'black',
                            }
                        },
                        tooltip: {
                            callbacks: {
                                label: function(tooltipItem) {
                                    return tooltipItem.label + ': ' + tooltipItem.raw;
                                }
                            }
                        }
                    }
                }
            };
            const conversionPieChart = new Chart(ctx, config);
        });
    </script>
{% endblock content %}